* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container svg {
  position: absolute;
  z-index: 9999;
  transition: 0.7s;
  fill: #7FB4F0;
  top: 10px;
  left: 10px;
}
.container h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #3d3d4e;
  align-self: flex-start;
  margin-bottom: 50px;
}
.container .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.container .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container .sign-in-container form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 20%;
}
.container .sign-in-container form p {
  font-size: 1.5rem;
  align-self: flex-start;
  cursor: pointer;
}
.container .sign-in-container form input {
  font-size: 1.3rem;
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  margin-bottom: 19px;
  width: 100%;
  outline: none;
}
.container .sign-in-container form input:nth-child(5) {
  margin-bottom: 50px;
}
.container .sign-in-container form button {
  border-radius: 12px;
  border: 1px solid white;
  background-color: #7FB4F0;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 14px 0;
  letter-spacing: 1px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.container .sign-in-container form button:active {
  transform: scale(0.95);
}
.container .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container .sign-up-container form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20%;
  height: 100%;
  text-align: center;
}
.container .sign-up-container form input {
  font-size: 1.3rem;
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  margin-bottom: 19px;
  width: 100%;
  outline: none;
}
.container .sign-up-container form input:nth-child(5) {
  margin-bottom: 50px;
}
.container .sign-up-container form button {
  border-radius: 12px;
  border: 1px solid white;
  background-color: #7FB4F0;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 14px 0;
  letter-spacing: 1px;
  width: 100%;
  text-transform: uppercase;
}
.container .sign-up-container form button:active {
  transform: scale(0.95);
}
.container.right-panel-active svg {
  position: absolute;
  z-index: 9999;
  fill: #E2E8F0;
  animation: 0.7s ease-in;
}
.container.right-panel-active .sign-in-container {
  transform: translateX(50%);
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.container.right-panel-active .overlay-container .overlay {
  transform: translateX(50%);
}
.container.right-panel-active .overlay-container .overlay .overlay-left {
  transform: translateX(0);
}
.container.right-panel-active .overlay-container .overlay .overlay-right {
  transform: translateX(20%);
}
.container .overlay-container {
  top: 0;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.container .overlay-container .overlay {
  background: #FF416C;
  background-image: linear-gradient(to right top, #7fb4f0, #80b2ee, #81b0ed, #83adeb, #84abe9, #7cb2ef, #73b8f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.container .overlay-container .overlay .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  gap: 20px;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.container .overlay-container .overlay .overlay-panel h2 {
  font-size: 3rem;
}
.container .overlay-container .overlay .overlay-panel p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 200;
}
.container .overlay-container .overlay .overlay-panel button {
  background-color: #7FB4F0;
  padding: 12px 45px;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
  font-size: 1.2rem;
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container .overlay-container .overlay .overlay-panel button:active {
  transform: scale(0.95);
}
.container .overlay-container .overlay .overlay-right {
  right: 0;
}
.container .overlay-container .overlay .overlay-left {
  transform: translateX(-20%);
}

/*# sourceMappingURL=style.css.map */
